#main-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: $white;
	border-bottom: 2px solid $lightgrey;
	z-index: 1000;

	#main-logo {
		margin: 15px 0 0 10px;
		display: inline-block;

		img {
			height: 30px;
		}
	}

	#burger-menu {
		//background-color: $blue;
		// border-radius: 20px;
		// color: $white;
		// padding: 10px;
		background: url('../images/ui/burger-menu.svg') no-repeat 0 0;
		background-size: 40px 40px; 
		position: absolute;
		right: 10px;
		top: 10px;
		width: 40px;
		height: 40px;

		&.close-menu {
			background: url('../images/ui/burger-menu-close.svg') no-repeat 0 0!important;
		}
	}
}

#main-menu {
	overflow: hidden;
	background-color: $white;
	position: fixed;
	top: 0px;
	left: -100%;
	width: 100%;
	height: 100%;
	min-height: 568px;
	z-index: 500;

	nav a {
		display: block;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
		color: $blue;
		border-bottom: 1px solid $lightgrey;
		padding: 18px 0;
	}
}

.share-list {
	list-style-type: none;
	text-align: center;
	margin: 10px 0;
	padding: 0;

	li {
		display: inline-block;
		margin: 5px;
		
		img {
			height: 30px;
			width: auto;
		}

	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	#main-menu {
		nav {
			a {
				font-size: 25px;
				padding: 25px 0; 
			}
		}
	}

	.share-list {
		margin: 40px 0 0 0;
	}
}


// ******
//BIG SCREEN
//********

@media (min-width: 1200px) {

	#main-nav {
		height: 80px;

		#main-logo {
			margin: 17px 0 0 20px;

			img {
				height: 45px;
			}
		}

		#burger-menu {
			background-size: 50px 50px; 
			position: absolute;
			right: 20px;
			top: 15px;
			width: 50px;
			height: 50px;
		}
	}

	#main-menu {
		nav {
			a {
				font-size: 30px;
				padding: 45px 0; 
			}
		}
	}

	.share-list {
		margin: 50px 0 0 0;

		li {
			margin: 5px 10px;

			img {
				height: 40px;
			}
		}
	}

}



#wrapper-spinner {
	background-color: $white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: auto 0 auto -35px;
	width: 70px;
	text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: $blue;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}