#page-map {

	background-color: $lightgrey;

	#fix-bg {
		background-color: $lightgrey;
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 0;
		height: 1300px;
	}

	.titles {
		margin-top: 80px;
		text-align: center;

		h1 {
			color: $blue;
			font-weight: 700;
		}

		.desc {
			line-height: 18px;
		}
	}
	
	.inner	{
		position: relative;
		top: 0;
		width: 290px;
		margin: 40px auto 60px;
	}

	.txt {
		display: none;
	}

	// ***** //

	.point {
		color: $white;
		cursor: pointer;
		display: block;
		font-size: 20px;
		font-weight: 400;
		padding: 9px 18px;
		border-radius: 50px;
		position: absolute;

		&.green {background-color: $green;}
		&.lightblue {background-color: $lightblue;}
		&.corail {background-color: $corail;}
		&.orange {background-color: $orange;}
		&.yellow {background-color: $yellow;}
		&.purple {background-color: $purple;}

	}

	.info {
		background-color: $blue;
		color: $white;
		cursor: pointer;
		display: block;
		border-radius: 50px;
		font-weight: 700;
		font-size: 20px;
		line-height: 15px;
		padding: 8px 10px;
		position: absolute;
		z-index: 10;
		top: -4px;
		left: -4px;
	}

	.question {
		border-radius: 50px;
		background-color: $blue;
		color: $white;
		cursor: pointer;
		display: block;
		position: absolute;
		width: 36px;
		height: 36px; 

		img {
			position: relative;
			top: 6px;
			left: 8px;
			width: 20px;
		}
	}

	// ***** //

	#top-top {
		width: 45px;
		position: absolute;
		top: 4px;
		left: 0;
		z-index: 20;

		.txt {
			font-size: 10px;
		    line-height: 10px;
		    color: $blue;
		    text-transform: uppercase;
		    font-weight: 700;
		    position: absolute;
		    top: -35px;
    		left: 0px;
		    width: 80px;
		    margin-bottom: 0;
		}

	}

	#top-left {
		position: relative;
		width: 145px;

		.left {
			top: 84px;
    		left: 14px;
		}

		.top {
			top: 10px;
			left: 77px;
		}
	}

	#top-right {
		width: 100px;
		position: absolute;
		right: 0;
		top: 0;

		.top {
			left: -25px;
			top: -15px;
		}
	
		.middle {
			left: -25px;
			top: 86px;
		}

		.bottom {
			left: -25px;
			bottom: -15px;
		}

		.right {
			top: 86px;
			right: -10px;
		}
	}

	#bottom-left {
		position: relative;
		width: 100px;
		margin-top: 40px;

		.top {
			top: -30px;
			left: 27px;
		}

		.bottom {
			top: 104px;
			left: 34px;
		}

		.txt {
			font-size: 10px;
		    line-height: 10px;
		    color: $blue;
		    text-transform: uppercase;
		    font-weight: 700;
		    position: absolute;
		    top: 113px;
		    left: 80px;
		    width: 80px;
		    margin-bottom: 0;
		}
	}

	#bottom-right {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 100px;

		.top {
			top: 10px;
			left: 10px;
		}
	}

	// ******

	#pop-up {
		color: $white;
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: 30;

		#section {
			padding: 15px 10px;
			text-transform: uppercase;

			&.green {background-color: $green;}
			&.lightblue {background-color: $lightblue;}
			&.corail {background-color: $corail;}
			&.orange {background-color: $orange;}
			&.yellow {background-color: $yellow;}
			&.purple {background-color: $purple;}
		}

		.category-link {
			display: block;
			width: 90%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 5;
		}

		.category {
			display: block;
			padding-right: 50px;
			position: relative;

			#title {
				margin: 0;

				.category-name {
					color: $white;
					margin: 0;
					padding: 0;
					font-size: 14px;
					font-weight: 400;
					line-height: 16px;

					&:after {
						content: '>';
						font-weight: 700;
						font-size: 20px;
						margin-left: 10px;
						position: relative;
						top: 2px;	
					}
				}
			}

            a {
                color:white;
            }

			.arrow-next {
				//position: absolute;
				position: relative;
				top: -1px;
				width: 6px;
				margin-left: 8px;
			}
		}

		.cancel {
			width: 32px;
			padding: 10px;
			display: block;
			position: absolute;
			right: 10px;
			top: 5px;
			z-index: 10;

			img {
				width: 100%;
			}
		}

		#picture {
			height: 220px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	@media (min-width: 768px) and (max-width: 1024px) {
		#pop-up {
			width: 370px;
			left: 50%;
			margin-left: -185px;

			#picture {
				height: 250px;
			}
		}

		.titles .desc {
			font-size: 16px;
			line-height: 20px;
		}
	}


	// @media (min-width: 993px) and (max-width: 1024px) {
	// 	#pop-up {
	// 		width: 370px;
	// 		left: 50%;
	// 		margin-left: -185px;

	// 		#picture {
	// 			height: 220px;
	// 		}
	// 	}
	// }

	// ******
	// BIG SCREEN
	// ******
	@media (min-width: 1200px) {
		
		.titles {
			margin-top: 120px;

			.desc {
				margin-bottom: 50px;
				font-size: 18px;
    			line-height: 28px;
			}
		}

		.inner {
			width: 480px;
		}

		.point {
			font-size: 25px;
			padding: 9px 19px;
		}

		.info {
			font-size: 25px;
			padding: 12px;
			top: 0px;
    		left: 0px;
		}

		.question {
			width: 41px;
			height: 41px;

			img {
				top: 9px;
			    left: 10px;
			    width: 22px;
			}
		}

		#top-top {
			width: 70px;

			img {
				width: 70px;
				height: 71px;
			}

			.txt {
				font-size: 12px;
			    line-height: 12px;
			    width: 90px;
			}
		}

		#top-left {
			width: 210px;

			img {
				width: 210px;
				height: 222px;
			}

			.left {
				top: 132px;
    			left: 23px;
			}

			.top {
				top: 20px;
				left: 118px;
			}
		}

		#top-right {
			width: 150px;

			img {
				width: 150px;
				height: 327px;
			}

			.right,
			.middle {
				top: 138px;
			}
		}

		#bottom-left {
			width: 170px;

			img.bg {
				width: 170px;
				height: 389px;
			}

			.top {
				left: 60px;
			}

			.bottom {
				top: 180px;
				left: 64px;
			}

			.txt {
				font-size: 12px;
			    line-height: 14px;
			    top: 190px;
			    left: 120px;
			    width: 100px;
			}
		}
		
		#bottom-right {
			width: 150px;

			img {
				width: 150px;
				height: 150px;
			}

			.top {
				top: 30px;
				left: 30px;
			}
		}

		#pop-up {
		    width: 520px;
		    left: 50%;
		    margin-left: -260px;

			.category {
				padding-left: 10px;

				#title {
					.category-name {
						font-size: 16px;
						line-height: 24px;
						&:after {
							content: '>';
							font-weight: 700;
							font-size: 20px;
							margin-left: 10px;
							position: relative;
							top: 2px;	
						}
					}
				}
			}

			.cancel {
			    width: 35px;
			    top: 8px;
			}

			#picture {
				height: 320px;
			}
		}

	}

	
	
}






