#page-home {

	text-align: center;

	h1 {
		color: $white;
		font-size: 36px;
		line-height: 36px;
		margin: 0;
		padding: 0;
		font-weight: 700;
		text-shadow: 0 0 10px rgba(0,0,0,0.5);
	}

	p {
		color: $white;
		font-size: 16px;
		line-height: 22px;
		margin: 20px 0;
		padding: 0;
		font-weight: 400;
		text-shadow: 0 0 10px rgba(0,0,0,0.5);
	}

	h1,
	p,
	.btn-green {
		//
		position: relative;
		top: -30px;

		//
		opacity: 0;
	}

	.item {
		background-size: cover;
		background-position: center;
	}

	.carousel-indicators {
		li {
			width: 20px;
			height: 20px;
			margin: 0 10px;
		}
	}

	@media (max-width: 767px) {
		.slide-1,
		.slide-2 {
			background-position: right center;
		}
	}

	@media (min-width: 768px) and (max-width: 1199px) {
		p {
			margin: 20px auto;
			max-width: 700px;
		}
	}

	@media (min-width: 1200px) {
		h1 {
			font-size: 60px;
			line-height: 60px;
		}

		p {
			font-size: 22px;
			line-height: 28px;
			margin: 40px auto 80px;
			max-width: 700px;
		}
	}

}