#page-thank {
    //display: none;
    text-align: center;


    h1 {
        color: $blue;
        margin: 0;
    }

    p {
        color: $textgrey;
        margin: 30px 0;
    }


    &.wrapper-content {
        margin-top: 30px;
    }
    
    .section {
    	padding-top: 40px;
    	padding-bottom: 40px;
        position: relative;
    }

    .clear-rating,
    .caption {
        display: none;
    }

    .btn-green {
        border: 0;
        margin-top: 40px;
    }



	/****** Style Star Rating Widget *****/

    @media (min-width: 767px) {
        
        .section {
            padding-top: 0;
            padding-bottom: 0;
        }

    }

}