#page-prizes {

	text-align: center;

	h1 {
		color: $blue;
		margin: 0;
	}

	.outerCenter {
		position: relative;
	}

	.innerCenter {
			width: 100%;
		}

	.section {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.section-1 {
		p {
			margin: 20px 0;
		}

		.title-price {
			color: $blue;
			font-weight: 700;
		}
	}

	.section-2 {
		background: #efefef;

		img {
			width: 200px;
			margin: 0 auto;
		}
	}

	.section-3 {

		.sub-title {
			color: $blue;
			font-weight: 700;
			font-size: 16px;
		}

		p {
			margin-bottom: 30px;
		}

		.btn-green {
			margin: 5px 0;

			&.first {
				margin-top: 30px;
			}
		}
	}
    
    #txtPrix2, #imgPrix2{
        display:none;
    }

	@media (min-width: 768px) {
		.section-3 {
			.btn-green {
				margin: 5px;
			}
		}
	}

    @media (min-width: 768px) and (max-width: 1024px) {
		.inner {
			display: block;
			max-width: 600px;
			margin: 0 auto;
		}

		p {
			font-size: 16px;
			line-height: 24px;
		}

		.section-3 .sub-title {
			font-size: 20px;
			line-height: 28px;
		}
    }

    @media (min-width: 1200px) {
		margin-top: 0;

		.outerCenter {
			position: absolute;
		}
		
    }
}

