#page-connect {
	text-align: center;

	&.wrapper-content {
		margin: 0;
	}

	h1 {
		color: $blue;
		margin: 0;
	}

	p {
		color: $textgrey;
		margin: 30px 0;
		font-size: 14px;
    	line-height: 24px;
	}

	#section-1 {
		background-color: $lightblue;

		h1, p {
			color: $white;
		}

		input {
			border: 0;
			max-width: 320px;
		}
		
		.button {
			background-color: $white;
			color: $lightblue;
			margin-top: 30px;
		}
	}

	.section {
		// padding-top: 20px;
		// padding-bottom: 20px;
	}


	@media (max-width: 767px) {
		&.wrapper-content {
			margin-top: 60px;
		}

		.outerCenter {
			position: relative;
		}

		#section-1 {
			padding: 60px 0
		}

		#section-2 {
			margin-bottom: 60px;
		}

	}


	@media (min-width: 768px) and (max-width: 991px) {

		&.wrapper-content {
			margin-top: 60px;
		}

		.outerCenter {
			position: relative;
		}
		.section {
			padding: 60px 0;
			width: 100%;
			margin: 0px auto;
			float: none;
		}
	}

	@media (min-width: 768px) and (max-width: 1024px) {

		p {
			font-size: 16px;
			line-height: 24px;
		}

		#section-1 input[type="email"] {
			font-size: 16px;
		}
	}

	@media (max-width: 991px) {
		.section#section-2 {
			margin-top: 60px;
		}
	}

	@media (min-width: 992px) {
		.innerCenter {
			width: 70%;
		}

		h1 {
			margin-top: 60px;
		}
	}

	@media (min-width: 1025px) {
		p {
			font-size: 18px;
			line-height: 28px;
		}
	}


}