#page-specified {

	&.wrapper-content {
		margin-top: 50px;
	}

	.outerCenter {
		position: relative;		
    }

	#section-1 {
		background-color: $lightblue;
		color: $white;
		text-align: center;
		padding-top: 40px;
		padding-bottom: 40px;

		// h1,p {
		// 	margin: 0;
		// 	padding: 0;
		// }

		h1 {
			margin-bottom: 20px;
		}

		p {
			color: $white;
		}
	}

	form {
		margin: 40px auto 0;
		width: 100%;
    	max-width: 500px;

    	p {
    		line-height: 20px;
    	}

		.button-wrapper {
			margin-top: 40px;
		}

		.btn-modal {
			// border: 0;
			// color: $textgrey;
			// font-size: 14px;
			// font-weight: 400;
			// line-height: 24px;
			text-decoration: underline;
			// background: none;
			// padding: 0;
			// margin: 0;
			// vertical-align: top;
		}

		.bold {
			display: block;
			margin-top: 5px;
		}

		.label-left {
			padding-right: 95px;
		}

		.bootstrap-switch {
			position: absolute;
			top: 6px;
			right: 18px;
		}

		#switchNotFloat .bootstrap-switch{
			position: relative;
			top: 0px;
			right: 0;
		}
		
		.icone-question {
			width: 20px;
			height: 20px;
			margin-left: 5px;
		}
		
	}

	.check-white {
		width: 15px;
	}

	.x-white {
		width: 12px;
	}

    #section-congratulation{
        display:none;
    }

    #txtMissingFields {
    	margin-bottom: 20px;
    	background-color: #fcd9d9;
    	padding: 5px;
    }



    @media (max-width: 767px) {
		.innerCenter {
			width: 100%;
		}
    }

    @media (min-width: 768px) {
		#section-2 {
			padding-left: 0px;
			padding-right: 0px;
		}
    }


	//*********
	// IPAD
	//*********
	@media (min-width: 768px) and (max-width: 1024px) {
		p {
			font-size: 16px;
		}

		form {
			p {
				line-height: 24px;
			}

			input {
				font-size: 16px;
			}
		}
    }


    @media (min-width: 992px) {

    	&.wrapper-content {
			//margin-top: 60px;
			margin: 60px 0 0 0px;
		}

		.outerCenter {
			position: absolute;	
    	}

    	.innerCenter {
    		width: 82%;
    	}

    	.section {
    		width: 100%;
    		height: 100%;
    		width: 50%;
    		float: left;
    	}

    	#section-1 {
			padding: 0;
    	}

    	#section-2 {
    		overflow-y: scroll; 
    		-webkit-overflow-scrolling: touch;
    		height: 500px;
    	}

    	.wrapper-btn-up {
    		display: none;
    	}

    	form {
    		//padding: 0 30px;
    		margin: 50px auto;
    		overflow: hidden;

    		.wow {
    			visibility: visible!important;

    		}
    	}
    }


    @media (min-width: 1200px) {
    	&.wrapper-content {
			margin-top: 80px;
		}

		#section-1 {
			p {
				font-size: 18px;
    			line-height: 28px;
			}
		}

		form {
			margin: 20px auto 0;
			padding: 0;
			font-size: 16px;

			p {
				font-size: 16px;
			}
		
			.one-row.more-padding {
				margin: 10px 0;
			}

			.button-wrapper {
				margin-top: 30px;
			}
		}
    }
}

.modal {
	margin-top: 100px;

	.modal-header {
		padding: 0 0 15px 0;
		border: 0;
	}
	
	.close {
		background: none;
		margin: 0;
		padding: 0;
		float: none;
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 2;
	}
}