#page-products {

	&.wrapper-content {
		margin-top: 60px;
	}

	p.title {
		font-size: 25px;
		font-weight: 700;
		color: $blue;
	}

	#nav {
		overflow: hidden;
		//text-align: center;
		text-align: left;

		a {
			color: $white;
			font-size: 11px;
			font-weight: 700;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			padding: 10px 5px;
			display: block;
		}

		.back {
			height: 50px;
			background-color: $blue;
			width: 120px;
			float: left;
			position: relative;
			text-align: center;
		}

		.category {
			height: 50px;
			float: left;
			position: relative;
			width: calc(100% - 120px);
			&.lightblue { background-color: $lightblue; }
			&.green { background-color: $green; }
			&.corail { background-color: $corail; }
			&.orange { background-color: $orange; }
			&.yellow { background-color: $yellow; }
			&.purple { background-color: $purple; }
		}
	}

	#product-picture {
		background-color: #efefef;

		img {
			//width: 300px;
			width: 100%;
			height: auto;
			margin: 0 auto;
			display: block;
		}
	}

	.loader-bar {
		width: 100%;
		height: 4px;

		.bar {
			background-color: $green;
			width: 0;
			height: 4px;
		}
	}


	#product-title {
		// padding-top: 40px;

		height: 120px;

		p.title {
			color: $blue;
			//margin-bottom: 40px;

			//
			padding-top: 40px;
		}
	}

	#controls {
		overflow: hidden;

		.inner {
			padding: 0 10px;
		}

		.btn-green {
			font-size: 12px;
			padding: 12px 20px;
			float: left;
            
		}

		.arrows {
			float: right;
		}

		img {
			width: 50px;
			height: 50px;

		}
	}

	#product-infos {
		margin-top: 40px;
		margin-bottom: 40px;

		p {
			font-size: 16px;
			line-height: 28px;
			text-align: left;
		}
	}

	#product-content {
		display: none;
	}

	#product-video {
		margin-top: 50px;
		margin-bottom: 0;
		height: 280px;

		iframe {
			margin: 0;
			padding: 0;
		}
	}

	#buzz {
		background: $lightblue;
		padding-top: 40px;
		padding-bottom: 40px;

		p,
		p.title {color: $white;}

		p.title {
			text-align: center;
		}

		blockquote {
			text-align: center;
			border: 0;
			padding: 10px 30px 10px 20px;
			margin: 0;

			p {
				position: relative;

				img {
					margin-right: 5px;
				}
			}

			// p:before {
			// 	content: url('../images/new/quotes-first.png');
			// 	position: absolute;
			// 	left: -35px;
    		//  top: -1px;
			// }
			p:after {
				content: url('../images/new/quotes-last.png');
				position: absolute;
				margin-left: 5px;
			}
		}
	}

	#benefit {
		padding-top: 40px;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0 0 0 10px;
		}

		li {
			background-image: url('../images/ui/check.svg');
			background-size: 15px;
			background-repeat: no-repeat;
			background-position: 0 4px;
			color: $textgrey;
			padding-left: 20px;
			margin: 20px 0;
			display: block;
		}

		.wrapper-btn {
			text-align: center;
			margin-top: 40px;
		}
	}

	#awards,
	#related {
		padding-top: 80px;
		overflow: hidden;

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}

		li {
			width: 50%;
			float: left;
		}

		img {
			width: 100%;
			max-width: 200px;
			display: block;
			padding: 20px;
			margin: 0 auto;
		}
	}

	#features {
		padding-top: 40px;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0 0 0 10px;
		}

		li {
			color: $textgrey;
			padding-left: 15px;
			margin: 20px 0;
			display: block;
			position: relative;

			&:before {
				content: '•';
				color: $green;
				position: absolute;
				top: -2px;
				left: 0;
			}
		}
	}

	#related {
		padding-top: 60px;
		
		li {
			text-align: center;
		}

		.name {
			color: $blue;
			line-height: 16px;
			height: 50px;
		}
	}

	#btn-up {
		display: none;
	}

	@media (max-width: 767px) {
		#product-picture {
			height: 220px;
			overflow: hidden;

			img {
				width: 631px;
				height: 220px;
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -315px;
				display: block;
			}
		}
	}

	@media (min-width: 768px) and (max-width: 1199px) {

		#nav {
			
			//text-align: left;

			a {font-size: 12px;}


			.back {
				width: 150px;
				text-align: center;
			}

			.category {
				width: calc(100% - 150px);
			}
		}

		.btn-green {
			font-size: 14px;
		}

		#product-picture {
			//img { width: 550px; }
		}

		#product-title {
			text-align: center;
		}

		p.title {
			font-size: 30px;
		}

		#controls {
			padding: 5px 0;
			max-width: 650px;
			margin: 0 auto;
			float: none;
		}

		#product-infos {

			p {
				text-align: left;
				max-width: 800px;
				margin: 10px auto 0;
			}
		}

		#product-video {
			margin-top: 20px;
			margin-bottom: 0;
			height: 400px;
			float: left;
			width: 100%;

			iframe {
				margin: 0;
				padding: 0;
				height: 400px;
			}
		}

		#buzz {
			blockquote {
				max-width: 800px;
				margin: 0 auto;

				p {
					font-size: 16px;
				}
			}
		}

		#benefit,
		#features,
		#awards,
		#related {
			max-width: 800px;
			margin: 0 auto;
			float: none;
			clear: both;

			li {
				font-size: 16px;
			}
		}

		#related {
			.name {font-size: 16px;line-height: 24px;}
		}
	}

	// ******
	// BIG SCREEN
	// ******
	@media (min-width: 1200px) {
		&.wrapper-content {
			margin-top: 80px;
		}

		#nav {
			a {
				font-size: 14px;
			}

			.back {
				width: 170px;
			}

			.category {
				width: calc(100% - 170px);
			}
		}

		p.title {
			text-align: center;
			font-size: 30px;
		}

		#controls {
			max-width: 800px;
			margin: 0 auto;
			float: none;

			.btn-green {
				font-size: 16px;
			}
		}

		#product-infos {
			p {
				max-width: 800px;
				margin: 0 auto;
				font-size: 18px;
    			line-height: 30px;
			}
		}

		#product-video {
			width: 720px;
			height: 405px;
			overflow: hidden;
			margin: 0 auto 60px;

			iframe {
				margin: 0;
				padding: 0;
				width: 720px;
				height: 405px;
			}
		}

		#buzz {
			padding-top: 60px;
    		padding-bottom: 60px;

			blockquote {
				max-width: 800px;
				margin: 0 auto;
			}
		}

		#benefit {
			ul {
				margin: 60px 0;
			}

			li {
				background-position: 0 8px;
				font-size: 16px;
			}
		}

		#related {
			.name {font-size: 18px;line-height: 24px;}
		}

		#benefit,
		#features,
		#awards,
		#related {
			max-width: 800px;
			margin: 0 auto;
			float: none;
			clear: both;
			padding-top: 60px;
			padding-bottom: 60px;
			
			li {
				font-size: 18px;
				line-height: 28px;
			}
		}

		#buzz,
		#benefit,
		#features,
		#related {
			p.title {
				margin-bottom: 40px;
			}

			blockquote {
				p {
					font-size: 18px;
					line-height: 35px;
				}

				p:after {
					content: url('../images/new/quotes-last.png');
					position: absolute;
					bottom: -8px;
				}
			}
		}

		ul {
			font-size: 18px;
			line-height: 28px;
		}
	}

}







