@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
//@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

// font-family: 'Lato', sans-serif;

body {
	font-family: 'Lato', sans-serif;
}

.outerCenter {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middleCenter {
    display: table-cell;
    vertical-align: middle;
}

.innerCenter{
    width: 90%;
    margin: 0 auto;
}

section {
	overflow: hidden;
}

h1 {
	font-size: 30px;
	font-weight: 700;
}

p {
	font-size: 14px;
	line-height: 24px;
	color: $textgrey;
}

a {
	text-decoration: none;
	outline: none;
}

.wrapper-content {
	margin-top: 70px; //50px header + 30px
	margin-bottom: 30px;
}

.btn-green {
	background-color: $green;
	border-radius: 50px;
	color: $white;
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.1em;
	padding: 12px 30px;
	text-transform: uppercase;
	text-decoration: none;
}


form {
	input[type="text"],
	input[type="email"] {
		width: 100%;
		border: 2px solid $lightgrey;
		padding: 10px;
		outline: none;
		border-radius: 5px;
		appearance:none;
		-moz-appearance:none;
		-webkit-appearance:none; 

		&:focus {
			border: 2px solid $lightblue;
		}
	}

	button, input[type='submit'] {
		background-color: $green;
		border: 0;
		border-radius: 50px;
		color: $white;
		display: inline-block;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.1em;
		padding: 12px 30px;
		text-transform: uppercase;
		outline: none;
		appearance:none;
		-moz-appearance:none;
		-webkit-appearance:none; 
	}

	p, label {
		color: $textgrey;
		font-weight: 400;
	}

	.bold {
		color: $blue;
		font-weight: 700;
	}

	.button-wrapper {
		text-align: center;
		margin-top: 40px;
		margin-bottom: 10px;
	}

	.one-row {
		margin: 10px 0;

		&.more-padding {
			margin: 20px 0;
		}
	}

	.wrapper-checkbox {
		margin-top: 20px;

		input {
			margin: 10px 10px 10px 0;
		}
	}

	.select-style {
	    padding: 0;
	    margin: 0;
	    border: 2px solid $lightgrey;
	    width: 100%;
	    border-radius: 3px;
	    overflow: hidden;
	    background-color: #fff;
	    background: #fff url("../images/ui/arrow-select.svg") no-repeat 95% 50%;
	    background-size: 15px;
	}

	.select-style select {
	    padding: 10px;
	    width: 130%;
	    border: none;
	    box-shadow: none;
	    background-color: transparent;
	    background-image: none;
	    -webkit-appearance: none;
	       -moz-appearance: none;
	            appearance: none;
	}

	.select-style select:focus {
	    outline: none;
	}
}

.wrapper-btn-up {
	margin-top: 30px;
	overflow: hidden;

	#btn-up {
		width: 50px;
		float: right;
		display: block;
	}
}

.data-required{
    border-color:red !important;
}
.txtError{
    display:none;
    color:red;
}

#modal-thank.modal {
    margin-top: 0;
}


// ******
// BIG SCREEN
// ******
@media (min-width: 1200px) {
	
	h1 {
		font-size: 50px;
		line-height: 50px;
	}

	.btn-green {
		font-size: 16px;
	}

}
