// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

$white:      #ffffff;
$lightblue:  #3094ef;
$lightgrey:  #ebebeb;
$textgrey:   #828282;

$green:      #62bb46;
$blue:       #003876;
$corail:     #ff5e5a;
$orange:     #ff964f;
$yellow:      #fbc300;
$purple:      #c579f1;

